
<div class="na-form">
    <div class="form-group row">
        <label class="control-label flex-1">find</label>
        <div class="flex-8">
            <input type="text" class="form-control" mc-on-keyup="find" mc-value="scope.find">
        </div>

    </div>
</div>


<ul class="list">
    <li mc-for="v in (scope.find ? scope.filterList : scope.list)">
        <div mc-show="!v.edit" mc-on-click="edit(v)">
            <svgicon icon="print"></svgicon>
            {v.title}
            <a mc-show="!scope.find">
                <i class="iconfont icon-close" mc-on-click="remove(v)"></i>
            </a>
        </div>
        <input type="text"
               mc-value="v.title"
               mc-show="v.edit"
               mc-on-change="save(v)"
               mc-on-blur="hideEdit(v)">
    </li>
</ul>

<form class="na-form" mc-on-submit="add">
    <div class="form-group row">
        <label class="control-label flex-1">item name</label>
        <div class="flex-4">
            <input type="text" class="form-control" mc-on-change="syncItemName" mc-value="scope.addItemName">
        </div>
        <div class="flex-2">
            <button class="btn" type="submit">Add</button>
        </div>
    </div>
</form>
